@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,400;0,700;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
main {
    widows: 100%;
    display: flex;
}
header{
    width: 100%;
    height: 60px;
    background: #00897b;
}
header span{
    font-size: 30px;
    padding: 10px;
    color: white;
    transition: all 300ms;
    cursor: pointer;
    position: relative;
    top: 16px;
    left: 10px;
}
header span:hover{
    background: rgb(0,0,0,0.4);
    border-radius: 10px;
}

.content-menu{
    width: 100px;
    background: #00796b;
    transition: all 300ms;
}
.content-menu2{
 margin-left: -90px;
    transition: all 600ms;
}
.content-menu li{
    list-style: none;
    padding: 30px;
    text-align: center;
    color: ghostwhite;
    transition: all 300ms;
    cursor: pointer;
}
.content-menu li:hover{
    transform: translateY(20px);
    background: rgb(0,0,0,0.3);
}

.content-menu li span{
    font-size: 50px;
    
}
.content-menu li h4{
    font-weight: 100;
    transform: translateY(18px)translateX(-100px); 
    transition:  all 400ms;
    
}
.content-menu:hover .text1{
    transform: translateX(0px);
    transition: all 100ms;
}
.content-menu:hover .text2{
    transform: translateX(0px);
    transition: all 200ms;
}
.content-menu:hover .text3{
    transform: translateX(0px);
    transition: all 300ms;
}
.content-menu:hover .text4{
    transform: translateX(0px);
    transition: all 400ms;
}
.content-menu:hover .text5{
    transform: translateX(0px);
     transition: all 500ms;
}
.content-menu:hover .text6{
    transform: translateX(0px);
     transition: all 600ms;
}
.content-menu:hover .text7{
    transform: translateX(0px);
     transition: all 700ms;
}
.content-menu:hover .text8{
    transform: translateX(0px);
     transition: all 800ms;
}

article{
   
    padding: 20px;
    background-image: url(../imagenes/laboratorio.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}
article h1{
    font-size: 50px;
    text-align: center;
}
article p{
    font-size: 20px;
    margin-top: 20px;
}
